* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    /*flex-direction: column; Direção principal (nesse caso linha)*/
    justify-content: flex-start; /*alinhamento principal*/
    align-items: flex-start; /*alinhamento perpendicular*/
    align-content:space-around; /*Alinhamento só do conteúdo*/ 
    background-color: yellow;
    height: 640px;


    flex-wrap: wrap; /*permite que ele quebre linha caso tenha muitos elementos*/

}

.flex-item {
    width: 33.33%;
    color: white;
    background-color: red;
}

